body {
  background-color: black;
}

a {
  color: #0415F6;
}

h1 {
  color: #C0C9F2;
  margin-top: 30px;
  text-align: center;
}

h2 {
  color: #C0C9F2;
  margin-top: 30px;
  text-align: center;
}
div.buttons {
  width: 400px;
  padding: 50px;
  margin: auto;
}

div.button {
  background-color: #8EF6F5;
  font-weight: bold;
  border-radius: 25px;
  width: auto;
  border: 1px solid green;
  padding: auto;
  margin-top: 10px;
  text-align: center;
}

div.h1 {
  color: red;
}
